<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DifferntServletsExamples</display-name>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>com.test.servlet.controller.WelcomeServletInterface</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/srv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>generic</servlet-name>
    <servlet-class>com.test.servlet.controller.GenericSevletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generic</servlet-name>
    <url-pattern>/srv2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>voter</servlet-name>
    <servlet-class>com.test.servlet.controller.VoterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>voter</servlet-name>
    <url-pattern>/srv3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>http1</servlet-name>
    <servlet-class>com.test.servlet.controller.ExampleHttpServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>http1</servlet-name>
    <url-pattern>/srv4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>http2</servlet-name>
    <servlet-class>com.test.servlet.controller.ExampleHttpServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>http2</servlet-name>
    <url-pattern>/srv5</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>